<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>com.slyang.test.javaweb.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/firServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>firstJsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/firstJsp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstJsp</servlet-name>
        <url-pattern>/fir</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>html/index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>my_param_name</param-name>
        <param-value>1234567788</param-value>
    </context-param>

</web-app>